html {
  font-size: 13px;
}
body {
  font-weight: 500;
  min-width: 320px;
}
small {
  font-size: 0.9rem;
}
.main {
  max-width: 768px;
}
.article-title {
  font-weight: 700;
  color: #48556a;
  line-height: 1.75rem;
}
.avatar-image {
  width: 3rem;
  height: 100%;
}
.date-text {
  color: #9eafc2;
}
.person-name-text {
  color: #48556a;
  font-weight: 700;
}
.share-button {
  background-color: #ecf2f8;
  color: #6d7f97;
  width: 3rem;
  height: 3rem;
}
.bg-image {
  min-height: 250px;
  background-image: url("images/drawers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.share-component .share-text {
  font-weight: 700;
  letter-spacing: 5px;
  color: #9eafc2;
}
.share-component .fa:not(.fa-share) {
  font-size: 2rem;
}
.share-component .fa {
  color: #ecf2f8;
}
.share-component .share-button {
  background-color: #6d7f97;
}

.person-name-text {
  color: #48556a;
  font-weight: 700;
}

.article-title {
  font-weight: 700;
  color: #48556a;
  line-height: 1.75rem;
}

@media (min-width: 1200px) {
  .w-75 {
    width: 50% !important;
  }
}
